/* ADICIONAR FONTE DE TEXTO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 600px;
    border-bottom: 50px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#63c4eb, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: pipe-animations 1.5s infinite linear;
}

.mario {
    width:
